server {
    listen 80;
    server_name localhost;
    return 307 https://localhost$request_uri;
}

server {
    listen 443 http2;
    server_name localhost;

    #SSL settings
	ssl_certificate /home/vlad/ssl/cert.crt;
 	ssl_certificate_key /home/vlad/ssl/key.key;

	charset utf-8;
	root /home/vlad/WebstormProjects/WebLabs/dist/client;
	index index.html;

    location /api {
        proxy_pass http://localhost:3000;
    }
}
