server {
	listen 80;
	server_name localhost;
	return 301 https://localhost;
}

server {
	listen 443 ssl http2;
	server_name localhost;

	#SSL settings
	ssl_certificate /home/vlad/ssl/cert.crt;
 	ssl_certificate_key /home/vlad/ssl/key.key;

	charset utf-8;
	root /home/vlad/WebstormProjects/WebLabs/dist;
	index index.html;
}
