$bg-color: #222222;
$text-color: #dadada;
$primary: #44aa44;
$secondary: #ee99ee;

.button {
  font: inherit;
  color: $secondary;
  background-color: transparent;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;

  &.active {
    opacity: 1;
    text-decoration: underline $secondary;

    &:hover {
      cursor: pointer;
      transform: scale(0.97);
    }

    &:focus {
      text-decoration-color: $primary;
      color: $primary;
      transform: scale(0.95);
    }
  }
}